@model Aula05ClassesIdentificadas.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Cadastro de Pedido</h1>

    <div class="container">

        <form id="formOrder"
              method="post"
              asp-action="Create"
              asp-controller="Order">

            <div class="row">
                <div class="form-group">
                    <label asp-for="@Model.CustomerId">Cliente:</label>
                    <select asp-for="@Model.CustomerId">
                        @foreach (var c in Model.Customers)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <table class =" table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Item</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </thead>
               <tbody>
                   @foreach(var item in Model.SelectedItems)
                    {
                        <tr>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
            <button id="btnOrder"
                    type="submit"
                    class="btn btn-primary"
                    value="Cadastrar">
                Cadastrar
            </button>

        </form>
    </div>
</div>

